<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">

    <!-- Configurações PHP -->
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <!-- Suites de Testes -->
    <testsuites>
        <testsuite name="Default Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Relatórios de Cobertura -->
    <coverage>
        <report>
            <text outputFile="coverage.txt"/>
            <html outputDirectory="coverage-report"/>
            <clover outputFile="clover.xml"/>
            <php outputFile="coverage.php"/>
        </report>
    </coverage>

</phpunit>
